/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 Sep 2023, 07.33.46
    Author     : Muhamad Ariq Rasyid
*/

.mainFxmlClass {
    -fx-background-color: gray ;
}



.hitung{
    -fx-cursor: hand;
    -fx-background-color:green;
    -fx-text-fill: white;
    -fx-font-size: 16;

}

.hapus{
    -fx-cursor: hand;
    -fx-background-color:goldenrod;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.keluar{
    -fx-cursor: hand;
    -fx-background-color:red;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.Datepicker{
    -fx-cursor:hand;
}


